# ----------------WARNING----------------------------
# This PINS are ROUTED ON BOARD DO NOT USED IN OTHER WAY
#==== Debug ====
#NET "uart_rxd" LOC = "P54" | IOSTANDARD = LVTTL;
#NET "uart_txd" LOC = "P69" | IOSTANDARD = LVTTL;

# ==== Clock inputs (CLK) ====
NET "Clk_System" LOC = "P38" | IOSTANDARD = LVCMOS33 ; # GCLK10;
NET "Clk_System" PERIOD = 20 HIGH 50%;

# ==== IO ====
NET "lowRst_System" LOC = "P13" | IOSTANDARD = LVTTL;

# This PINS can be used as input only, It can't be used as a output. 
# For more information please check the datasheet Spartan 3E by Xilinx
# NET "your_wire_name_input_only" LOC = "P30" | IOSTANDARD = LVTTL;
# NET "your_wire_name_input_only" LOC = "P88" | IOSTANDARD = LVTTL;
# NET "your_wire_name_input_only" LOC = "P89" | IOSTANDARD = LVTTL;
# ----------------WARNING END------------------------


NET "max7219_din" LOC= "P35" | IOSTANDARD = LVTTL;
NET "max7219_ncs" LOC= "P34" | IOSTANDARD = LVTTL;
NET "max7219_clk" LOC= "P33" | IOSTANDARD = LVTTL;
NET "left_n" LOC= "P84" | IOSTANDARD = LVTTL;
NET "right_n" LOC= "P88" | IOSTANDARD = LVTTL;
NET "up_n" LOC= "P85" | IOSTANDARD = LVTTL;
NET "down_n" LOC= "P86" | IOSTANDARD = LVTTL;
